server:
  port: 8081

spring:
  application:
    name: auto-auth-service

jwt:
  secret: "12345678901234567890123456789012"

# Actuator endpoints
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    tags:
      application: ${spring.application.name}
  endpoint:
    health:
      show-details: always
  health:
    consul:
      enabled: true

# Logging
logging:
  level:
    root: INFO
    auto.trace: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"